client/node_modules
server/node_modules
server/test_results/
types/graphql.d.ts

# dependencies
client/.pnp
server/.pnp
.pnp.js

# testing
client/coverage
server/coverage

# production
client/build
server/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

server/npm-debug.log*
server/yarn-debug.log*
server/yarn-error.log*

client/src/graphql/types.tsx